body,
main {
    background-color: #f5f5f5
}

main {
    min-height: 100vh;
    padding: 2rem 10px
}

.auth-box {
    max-width: 400px;
    margin: 50px auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .1);
    background: #fff
}

.auth-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem
}

.auth-subtitle {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #666
}

.button.is-link {
    width: 100%;
    border-radius: 12px;
    font-weight: 600
}

.alt-link {
    text-align: center;
    margin-top: 1rem
}